{{>header}}
{{>fecha}}
<div class="container marginOutTurn">
    <div class="text-center mb-2">
        <h4 class="red">EDITAR PRODUCTO</h4>
    </div>
    <form action="/inventario/editar/{{product.idProduct}}/producto" method="POST">
        <div class="row justify-content-center align-items-center">
            <div class="col-11 col-md-10 shadow-lg py-3 rounded">
                <div class="text-center">
                    <h5>Información del Producto: <span class="red">{{product.name}}</span></h5>
                    <hr>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="form-group col-12">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-5">
                                <label for="exampleInputPassword1">Código</label>
                                <input type="text" class="form-control" id="" placeholder="{{product.idProduct}}"
                                    disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-5">
                                <label for="exampleInputPassword1">Nombre</label>
                                <input type="text" class="form-control" id="" placeholder="{{product.name}}" name="name"
                                    value="{{product.name}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-5">
                                <label for="exampleInputPassword1">Cantidad</label>
                                <input type="text" class="form-control" id="" placeholder="{{product.amount}}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-10 text-right px-0">
                <button type="submit" class="btn btn-primary mt-3 blockMobile">Editar Producto</button>
            </div>
        </div>
    </form>
</div>