{{>header}}
{{>header-turno}}
{{>fecha}}
<div class="container">
    <div class="text-center mb-2">
        <h4 class="red">AGREGAR BAJA</h4>
    </div>
    <form action="/turno/bajas/agregar" method="POST">
        <div class="row justify-content-center align-items-center">
            <div class="col-11 col-md-10 shadow-lg py-3 rounded">
                <div class="text-center">
                    <h5>Información de la Baja</h5>
                    <hr>
                </div>
                <div class="row justify-content-center my-3">
                    <div class="col-10 col-md-6 form-group order-12 order-md-1">
                        <label for="exampleInputEmail1">Producto</label>
                        <select name="product" class="custom-select" required>
                            <option value="">-- Seleccione el Producto --</option>
                            {{#each products}}
                            <option value="{{idProduct}}">[{{idProduct}}] {{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center my-3">
                    <div class="col-10 col-md-3 form-group">
                        <label for="exampleInputEmail1">Observación</label>
                        <input list="products" name="observation" class="custom-select" autocomplete="off" required>
                        <datalist id="products">
                            {{#each obs}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}}
                        </datalist>
                    </div>
                    <div class="col-10 col-md-3 form-group">
                        <label for="exampleInputEmail1">Cantidad</label>
                        <input type="number" class="form-control" aria-describedby="basic-addon3" placeholder="Cantidad"
                            name="amount" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-10 text-right px-0">
                <button type="submit" class="btn btn-primary mt-3 blockMobile">Agregar Baja</button>
            </div>
        </div>
    </form>
</div>